<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create a new videogame</title>
</head>
<body>
  <h1>Create a new game!!!</h1>

  <form method="POST" action="/videogames">
    <label>Title</label>
    <input name="title" />
    <br/>
    <label>Genre</label>
    <input name="genre" />
    <br/>
    <label>Max Players</label>
    <input name="maxPlayers" />
    <br/>
    <button type="submit">Create!</button>
  </form>
</body>
</html>
