<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= videogame.title %></title>
</head>
<body>
  <h1>Game Details:</h1>

  <h1>Title: <%= videogame.title %></h2>
  <h2>Genre: <%= videogame.genre %></h2>
  <h2>Max Players: <%= videogame.maxPlayers %></h2>
</body>
</html>
